html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, li {
  font-family: "Playfair Display", serif;
  color: #152451;
}

a {
  font-family: "Playfair Display", serif;
  color: #774E24;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.underline--magical {
  background-image: linear-gradient(120deg, #f8fa84 0%, #f4dc8f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

.privacyPolicy, .imprint {
  width: 800px;
  max-width: 95vw;
  padding: 1rem;

  margin: 0 auto;
}
