.header {
  width: 100vw;
  max-width: 100vw;
  height: 5vh;
  background-color: #152451;
  text-align: center;
}

.logo {
  font-size: 22px;
  vertical-align: middle;
  line-height: 5vh;
}

.logo-link:hover {
  cursor: pointer;
}

.logo-link {
  box-shadow: none;
  color: white;
  text-decoration: none;
}

.menu {
  font-size: x-large;
  display: table-cell;
  vertical-align: middle;
  padding: 0.5rem;
  float: right;
}

.menu:hover {
  cursor: pointer;
}
